body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', "Quicksand", Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
